{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}

<article class="post post-medium">
  <div class="row mb-3">
    <div class="col-lg-5">
      <div class="post-image">
        <a href="blog-post.html">
          <img
            src="img/blog/medium/blog-11.jpg"
            class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0"
            alt=""
          />
        </a>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="post-content">
        <h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2">
          <a href="blog-post.html">{{ post.title }}</a>
        </h2>
        <p class="mb-0">{{ post.content }} [...]</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="post-meta">
        <span><i class="far fa-calendar-alt"></i> {{ post.date_posted }} </span>
        <span
          ><i class="far fa-user"></i> By <a href="#">{{ post.author }}</a>
        </span>
        <span
          ><i class="far fa-folder"></i> <a href="#">Lifestyle</a>,
          <a href="#">Design</a>
        </span>
        <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
        <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"
          ><a
            href="blog-post.html"
            class="btn btn-xs btn-light text-1 text-uppercase"
            >Read More</a
          ></span
        >
      </div>
    </div>
  </div>
</article>

{% endfor %} {% load static %}
<article class="post post-medium">
  <div class="row mb-3">
    <div class="col-lg-5">
      <div class="post-image">
        <div
          class="owl-carousel owl-theme show-nav-hover dots-inside nav-inside nav-style-1 nav-light mb-0"
          data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': true}"
        >
          <div>
            <div class="img-thumbnail border-0 p-0 d-block">
              <img
                class="img-fluid border-radius-0"
                src="{% static 'img/blog/medium/blog-24.jpg' %}"
                alt=""
              />
            </div>
          </div>
          <div>
            <div class="img-thumbnail border-0 p-0 d-block">
              <img
                class="img-fluid border-radius-0"
                src="{% static 'img/blog/medium/blog-20.jpg' %}"
                alt=""
              />
            </div>
          </div>
          <div>
            <div class="img-thumbnail border-0 p-0 d-block">
              <img
                class="img-fluid border-radius-0"
                src="{% static 'img/blog/medium/blog-21.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="post-content">
        <h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2">
          <a href="blog-post.html">This is a stardard slider gallery post</a>
        </h2>
        <p class="mb-0">
          Euismod atras vulputate iltricies etri elit. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.
          Nam dolor ligula, faucibus id sodales in, auctor fringilla libero.
          Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id
          aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu
          ornare mauris tincidunt vitae. [...]
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="post-meta">
        <span><i class="far fa-calendar-alt"></i> January 10, 2021 </span>
        <span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
        <span
          ><i class="far fa-folder"></i> <a href="#">Lifestyle</a>,
          <a href="#">Design</a>
        </span>
        <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
        <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"
          ><a
            href="blog-post.html"
            class="btn btn-xs btn-light text-1 text-uppercase"
            >Read More</a
          ></span
        >
      </div>
    </div>
  </div>
</article>

<article class="post post-medium">
  <div class="row mb-3">
    <div class="col-lg-5">
      <div class="post-image">
        <div
          class="lightbox"
          data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}"
        >
          <div class="row mx-0">
            <div class="col-6 col-md-4 p-0">
              <a href="img/blog/square/blog-13.jpg">
                <span
                  class="thumb-info thumb-info-no-borders thumb-info-centered-icons"
                >
                  <span class="thumb-info-wrapper">
                    <img
                      src="{% static 'img/blog/square/blog-13.jpg' %}"
                      class="img-fluid"
                      alt=""
                    />
                    <span class="thumb-info-action">
                      <span
                        class="thumb-info-action-icon thumb-info-action-icon-light"
                        ><i class="fas fa-plus text-dark"></i
                      ></span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-6 col-md-4 p-0">
              <a href="img/blog/square/blog-16.jpg">
                <span
                  class="thumb-info thumb-info-no-borders thumb-info-centered-icons"
                >
                  <span class="thumb-info-wrapper">
                    <img
                      src="{% static 'img/blog/square/blog-16.jpg' %}"
                      class="img-fluid"
                      alt=""
                    />
                    <span class="thumb-info-action">
                      <span
                        class="thumb-info-action-icon thumb-info-action-icon-light"
                        ><i class="fas fa-plus text-dark"></i
                      ></span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-6 col-md-4 p-0">
              <a href="img/blog/square/blog-20.jpg">
                <span
                  class="thumb-info thumb-info-no-borders thumb-info-centered-icons"
                >
                  <span class="thumb-info-wrapper">
                    <img
                      src="{% static 'img/blog/square/blog-20.jpg' %}"
                      class="img-fluid"
                      alt=""
                    />
                    <span class="thumb-info-action">
                      <span
                        class="thumb-info-action-icon thumb-info-action-icon-light"
                        ><i class="fas fa-plus text-dark"></i
                      ></span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-6 col-md-4 p-0">
              <a href="img/blog/square/blog-23.jpg">
                <span
                  class="thumb-info thumb-info-no-borders thumb-info-centered-icons"
                >
                  <span class="thumb-info-wrapper">
                    <img
                      src="{% static 'img/blog/square/blog-23.jpg' %}"
                      class="img-fluid"
                      alt=""
                    />
                    <span class="thumb-info-action">
                      <span
                        class="thumb-info-action-icon thumb-info-action-icon-light"
                        ><i class="fas fa-plus text-dark"></i
                      ></span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-6 col-md-4 p-0">
              <a href="img/blog/square/blog-29.jpg">
                <span
                  class="thumb-info thumb-info-no-borders thumb-info-centered-icons"
                >
                  <span class="thumb-info-wrapper">
                    <img
                      src="{% static 'img/blog/square/blog-29.jpg' %}"
                      class="img-fluid"
                      alt=""
                    />
                    <span class="thumb-info-action">
                      <span
                        class="thumb-info-action-icon thumb-info-action-icon-light"
                        ><i class="fas fa-plus text-dark"></i
                      ></span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-6 col-md-4 p-0">
              <a href="img/blog/square/blog-40.jpg">
                <span
                  class="thumb-info thumb-info-no-borders thumb-info-centered-icons"
                >
                  <span class="thumb-info-wrapper">
                    <img
                      src="{% static 'img/blog/square/blog-40.jpg' %}"
                      class="img-fluid"
                      alt=""
                    />
                    <span class="thumb-info-action">
                      <span
                        class="thumb-info-action-icon thumb-info-action-icon-light"
                        ><i class="fas fa-plus text-dark"></i
                      ></span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="post-content">
        <h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2">
          <a href="blog-post.html"
            >This is a standard image gallery thumbs post</a
          >
        </h2>
        <p class="mb-0">
          Euismod atras vulputate iltricies etri elit. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.
          Nam dolor ligula, faucibus id sodales in, auctor fringilla libero.
          Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id
          aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu
          ornare mauris tincidunt vitae. [...]
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="post-meta">
        <span><i class="far fa-calendar-alt"></i> January 10, 2021 </span>
        <span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
        <span
          ><i class="far fa-folder"></i> <a href="#">Lifestyle</a>,
          <a href="#">Design</a>
        </span>
        <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
        <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"
          ><a
            href="blog-post.html"
            class="btn btn-xs btn-light text-1 text-uppercase"
            >Read More</a
          ></span
        >
      </div>
    </div>
  </div>
</article>

<article class="post post-medium">
  <div class="row mb-3">
    <div class="col-lg-5">
      <div class="post-image">
        <div class="ratio ratio-16x9">
          <iframe
            src="https://player.vimeo.com/video/45830194?color=ffffff&title=0&byline=0&portrait=0&badge=0"
            width="640"
            height="360"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="post-content">
        <h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2">
          <a href="blog-post.html">This is a standard embedded video post</a>
        </h2>
        <p class="mb-0">
          Euismod atras vulputate iltricies etri elit. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.
          Nam dolor ligula, faucibus id sodales in, auctor fringilla libero.
          Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id
          aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu
          ornare mauris tincidunt vitae. [...]
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="post-meta">
        <span><i class="far fa-calendar-alt"></i> January 10, 2021 </span>
        <span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
        <span
          ><i class="far fa-folder"></i> <a href="#">Lifestyle</a>,
          <a href="#">Design</a>
        </span>
        <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
        <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"
          ><a
            href="blog-post.html"
            class="btn btn-xs btn-light text-1 text-uppercase"
            >Read More</a
          ></span
        >
      </div>
    </div>
  </div>
</article>

<article class="post post-medium">
  <div class="row mb-3">
    <div class="col-lg-5">
      <div class="post-image">
        <div class="ratio ratio-16x9">
          <video autoplay="" muted="" loop="" controls="">
            <source
              src="{% static 'video/memory-of-a-woman.mp4' %}"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="post-content">
        <h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2">
          <a href="blog-post.html">This is a standard HTML5 video post</a>
        </h2>
        <p class="mb-0">
          Euismod atras vulputate iltricies etri elit. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.
          Nam dolor ligula, faucibus id sodales in, auctor fringilla libero.
          Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id
          aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu
          ornare mauris tincidunt vitae. [...]
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="post-meta">
        <span><i class="far fa-calendar-alt"></i> January 10, 2021 </span>
        <span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
        <span
          ><i class="far fa-folder"></i> <a href="#">Lifestyle</a>,
          <a href="#">Design</a>
        </span>
        <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
        <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"
          ><a
            href="blog-post.html"
            class="btn btn-xs btn-light text-1 text-uppercase"
            >Read More</a
          ></span
        >
      </div>
    </div>
  </div>
</article>

<article class="post post-medium">
  <div class="row mb-3">
    <div class="col-lg-5">
      <div class="post-image">
        <blockquote class="blockquote-primary">
          <p>
            Pellentesque pellentesque eget tempor tellus. Fusce lacllentesque
            eget tempor tellus ellentesque pelleinia tempor malesuada. Euismod
            atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad
            litora torquent per conubia nostra.
          </p>
          <footer>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="post-content">
        <h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2">
          <a href="blog-post.html">This is a standard blockquote post</a>
        </h2>
        <p class="mb-0">
          Euismod atras vulputate iltricies etri elit. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.
          Nam dolor ligula, faucibus id sodales in, auctor fringilla libero.
          Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id
          aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu
          ornare mauris tincidunt vitae. [...]
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="post-meta">
        <span><i class="far fa-calendar-alt"></i> January 10, 2021 </span>
        <span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
        <span
          ><i class="far fa-folder"></i> <a href="#">Lifestyle</a>,
          <a href="#">Design</a>
        </span>
        <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
        <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"
          ><a
            href="blog-post.html"
            class="btn btn-xs btn-light text-1 text-uppercase"
            >Read More</a
          ></span
        >
      </div>
    </div>
  </div>
</article>

<article class="post post-medium">
  <div class="row align-items-center mb-3">
    <div class="col-lg-5">
      <div class="post-image">
        <a
          href="http://www.themeforest.net/"
          class="d-block btn btn-primary btn-outline border-0 rounded-0 font-weight-bold text-center text-6 p-5"
          target="_blank"
          >PORTO ON<br />
          THEMEFOREST</a
        >
      </div>
    </div>
    <div class="col-lg-7">
      <div class="post-content">
        <h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2">
          <a href="blog-post.html">This is a standard link post</a>
        </h2>
        <p class="mb-0">
          Euismod atras vulputate iltricies etri elit. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.
          Nam dolor ligula, faucibus id sodales in, auctor fringilla libero.
          Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id
          aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu
          ornare mauris tincidunt vitae. [...]
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="post-meta">
        <span><i class="far fa-calendar-alt"></i> January 10, 2021 </span>
        <span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
        <span
          ><i class="far fa-folder"></i> <a href="#">Lifestyle</a>,
          <a href="#">Design</a>
        </span>
        <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
        <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"
          ><a
            href="blog-post.html"
            class="btn btn-xs btn-light text-1 text-uppercase"
            >Read More</a
          ></span
        >
      </div>
    </div>
  </div>
</article>

<article class="post post-medium">
  <div class="row mb-3">
    <div class="col-lg-5">
      <div class="post-image">
        <div class="ratio ratio-soundcloud ratio-16x9">
          <iframe
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/341546259&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"
          ></iframe>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="post-content">
        <h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2">
          <a href="blog-post.html">This is a standard audio embedded post</a>
        </h2>
        <p class="mb-0">
          Euismod atras vulputate iltricies etri elit. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.
          Nam dolor ligula, faucibus id sodales in, auctor fringilla libero.
          Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id
          aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu
          ornare mauris tincidunt vitae. [...]
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="post-meta">
        <span><i class="far fa-calendar-alt"></i> January 10, 2021 </span>
        <span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
        <span
          ><i class="far fa-folder"></i> <a href="#">Lifestyle</a>,
          <a href="#">Design</a>
        </span>
        <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
        <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"
          ><a
            href="blog-post.html"
            class="btn btn-xs btn-light text-1 text-uppercase"
            >Read More</a
          ></span
        >
      </div>
    </div>
  </div>
</article>
{% endblock content %}
